<section class="header-wrap">
    <div class="header">
        <div class="header__content">
            <div class="header__content-avatar">
                <img src="images/header/avatar.jpg" alt="" class="avatar-image">
            </div>
            <div class="header__content-title">
                <div class="header__content-name">Nikita Kalachev</div>
                <div class="header__content-speciality">Frontend Developer</div>
            </div>
        </div>
        <div class="header__contacts">
            <div class="header__contacts-location header__contacts-item">
                <img class="location-icon" src="images/header/location.png" alt="location icon">
                <p class="location-text ymaps-geolink" data-bounds="[[54.314214, 48.402297], [54.314483, 48.402568]]" data-description="Suppose I live here :)"  data-type="biz">Ulyanovsk, Russia</p>
            </div>
            <div class="header__contacts-mail header__contacts-item">
                <img class="mail-icon" src="images/header/www.png" alt="mail icon">
                <p class="mail-text"><a target="_top" href="mailto:nikitakalachev@gmail.?Subject=Hello"></a>nikitakalachev18@gmail.com</a></p>
            </div>
            <div class="header__contacts-phone header__contacts-item">
                <img class="phone-icon" src="images/header/phone.png" alt="phone icon">
                <p class="phone-text"><a href="tel: +79969532147">+7 996 953 21 47</a></p>
            </div>
        </div>
    </div>
</section>