<section class="left-side">
    <div class="left-wrap">

        <div class="left__profile form-item__box">
            <div class="left__profile-title">
                <h2 class="form-text__title">Profile Info</h2>
            </div>
            <div class="left__profile-content">
                <p class="left__profile-text form-text__content">Dolor sit a quam erat volutpat. Ut wisi enim ad minim veniam, quis nostruduk cipit lobortis nislea quis commodo consequat. Quis nostruduk cipit lobortis nislea.</p>
            </div>
        </div>

        <div class="left__interests form-item__box">
            <div class="left__interests-title">
                <h2 class="form-text__title">Interests</h2>
            </div>
            <div class="left__interests-content">
                <div class="left__interests-music">
                    <img class="music-icon" src="images/left-side/music.png" alt="">
                    <p class="music-text">Music</p>
                </div>
                <div class="left__interests-gaming">
                    <img class="gaming-icon" src="images/left-side/gaming.png" alt="">
                    <p class="gaming-text">Gaming</p>
                </div>
                <div class="left__interests-biking">
                    <img class="biking-icon" src="images/left-side/biking.png" alt="">
                    <p class="biking-text">Biking</p>
                </div>
            </div>
        </div>

        <div class="left__reference form-item__box">
            <div class="left__reference-title">
                <h2 class="form-text__title">Reference</h2>
            </div>
            <div class="left__reference-content">
                <div class="reference-item">
                    <div class="form-shape__circle" id="circle1">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__name">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
                <div class="reference-item">
                    <div class="form-shape__circle" id="circle2">
                    </div>
                    <div class="reference-item__content">
                        <p class="reference-item__time">1999 - Present</p>
                        <p class="reference-item__name">Sheikh Al Rayhan</p>
                        <p class="reference-item__position">CEO, DeviserWeb</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="left__awards form-item__box">
            <div class="left__awards-title">
                <h2 class="form-text__title">Awards</h2>
            </div>
            <div class="left__awards-content">
                <p class="left__awards-item">Illustation award 2009</p>
                <p class="left__awards-item">Web Design award 2012</p>
                <p class="left__awards-item">Elite award 20019</p>
            </div>
        </div>

    </div>
</section>